---
import GridLayout from '../layouts/GridLayout.astro';
---

<GridLayout title="About">
  <div class="grid-wrapper">
    <div class="grid-item">
      <h2>Why?</h2>
      <p>I started this project because quite frankly, I was sick of losing track of all the good quotes I would stumble upon. I wanted one place where I could find quotes of various categories from all sorts of interesting people from all over the world.</p>
    </div>
    
    <div class="grid-item">
      <h2>Who made this?</h2>
      <p>I did. Hi, <a href="https://www.linkedin.com/in/carlosrandujar/" target="_blank" rel="noopener noreferrer">I'm Carlos</a>. I'm a designer with nearly 2 decades of experience. I've built products for small startups and enterprise Fortune 500 companies alike that are used by millions of people around the world.</p>
    </div>
    
    <div class="grid-item">
      <h2>What's next?</h2>
      <p>I have some additional features in mind that I plan on adding in the near future to make this resource easier to use. Maybe I'll build a public changelog and roadmap down the road, but for now, check back often to see what's new.</p>
    </div>
    
    <div class="grid-item">
      <h2>How can I help?</h2>
      <p>I'm always on the lookout for other great quotes to add. If you have some favorites that you don't see on here, reach out and let me know!</p>
    </div>
  </div>
</GridLayout>
