---
import Layout from '../layouts/Layout.astro';
import { fetchQuotes } from '../components/csvData.astro';
import Quote from '../components/Quote.astro';
// Fetch quotes
const quotes = await fetchQuotes();

---

<Layout title="Potent Quote">  
    <div class="quotes-container">
      {quotes.map(quote => (
        <Quote quote={quote} />
      ))}
    </div>
</Layout>

<style>
  .quotes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 62.75rem;
    margin: 0 auto;
    width: 100%;
  }
</style>